HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

Back-end/data/avis.json
Back-end/data/messages.json
Back-end/data/paiments.json
Back-end/data/prestataires.json
Back-end/data/reservations.json
Back-end/data/services.json
Back-end/data/users.json
Back-end/data/
Front-end/public/image

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules
