.gallery-container{
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #bbbbbb51;
}

.gallery-card{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 30px;
    row-gap: 30px;
    border-radius: 25%;
    object-fit: cover;
    column-width: auto;
    
}

.gallery-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #14131351;
    margin: 10px;
    
    grid-row-start: 1;
}

.Title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-items: center;
    align-content: center;
}

.Description {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-items: center;
    align-content: center;
    margin-left: 20px;
}

.Price {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-items: center;
    align-content: center;
    margin-left: 20px;
}

.Button {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-items: center;
    align-content: center;
    margin: 15px;
    border-radius: 15px;
}

.Button:hover {
    background-color: #00d0b0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

